body{
    font-family: "Courier New", monospace;
    font-size: 15px;
    background-image: url("newspaper.jpg");

}
h1{
    font-family: "broadway", monospace;
    font-size: 60px;
    text-align: center;
}

h2{
    font-family: "Courier New", monospace;
    font-size: 15px;
    font-style: bold;
}

table{
    width:80%;
    margin: auto;
    border-style: double;
    border-width: 5px;
    background-color: white;
}